
<div class="margin-top-30" style="text-align:center">

<h1>{{tr("MAIN_TITLE")}}</h1>
<div class="content-form-page">
  <form class="form-horizontal" role="form" (ngSubmit) = "sendContactMessage(contactForm);" #contactForm="ngForm">
  <div class="row">
    <div class="col-md-12 col-sm-12">
        <fieldset>
          <legend>{{tr("DETAIL_TITLE")}}</legend>
          <div class="alert alert-success " [class.hidden] = "successMessage == ''">
            <button type="button" class="close" (click) = "successMessage = ''"></button>
            <p>{{successMessage}}</p>
          </div>
          <div class="alert alert-danger " [class.hidden] = "errorMessage == ''">
            <button type="button" class="close" (click) = "errorMessage = ''"></button>
            <p>{{errorMessage}}</p>
          </div>
          <div class="form-group margin-top:20px">
            <label for="name" class="col-md-4 control-label"><span class="require"></span></label>
            <div class="col-md-4">
              <input type="text" class="form-control" id="name" name="name"  required="true" placeholder='{{tr("NAME")}}'  [(ngModel)]="model.name">
            </div>
          </div>
          <div class="form-group margin-top:20px">
            <label for="name" class="col-md-4 control-label"><span class="require"></span></label>
            <div class="col-md-4">
              <input type="email" class="form-control" id="email" name="email"  required="true" placeholder='{{tr("EMAIL")}}'  [(ngModel)]="model.email">
            </div>
          </div>
          <div class="form-group margin-top:20px">
            <label for="name" class="col-md-4 control-label"><span class="require"></span></label>
            <div class="col-md-4">
              <input type="text" class="form-control" id="subject" name="subject"  required="true" placeholder='{{tr("SUBJECT")}}' [(ngModel)]="model.subject">
            </div>
          </div>
          <div class="form-group margin-top:20px">
            <label for="name" class="col-md-4 control-label"><span class="require"></span></label>
            <div class="col-md-4">
              <textarea class="form-control" name="message" rows="8" cols="40" required="true" placeholder='{{tr("MESSAGE")}}' [(ngModel)]="model.message"></textarea>
            </div>
          </div>

          <div class="row">
            <div  style="text-align:center;">
              <button type="submit" class="btn btn-primary green">{{tr("SEND_MESSAGE")}}</button>
              <button type="button" class="btn btn-primary green" (click) = "openChatWindow();" *ngIf = "authService.isLoggedIn() == USER_SIGNED_INFO.SIGNED_IN">Chat With Customer Support</button>
            </div>
          </div>


        </fieldset>

    </div>

  </div>
  </form>
</div>
</div>
