<h4 class="page-title"><span style="color: #EC307C;">Directors</span> Board</h4>
<div class="page-content" style="">
  <div class="container">
    <div class="row">
      <div class="portlet light bordered" *ngFor = "let director of directors">
          <div class="portlet-title">
              <div class="caption">
                  <!-- <i class="icon-microphone font-blue-hoki"></i> -->
                  <span class="caption-subject bold font-blue-hoki uppercase">{{director.name}}</span>
                  <!-- <span class="caption-helper">more samples...</span> -->
              </div>
          </div>
          <div class="portlet-body">
              <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; ">
                <div class="scroller" style="overflow: hidden; width: auto;" data-initialized="1">
                  <!-- <h4>Heading text goes here...</h4> -->
                  <p class="col-sm-12 col-md-10">{{director.description}}</p>
                  <div class="col-sm-4 col-md-2">
                    <img class="img-responsive" src="{{director.image_url}}">
                  </div>
                </div>
                <div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; "></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
